[submodule "rules"]
	path = yara/official_rules
	url = https://github.com/Yara-Rules/rules
	branch = master
[submodule "patterns/ffx"]
	path = patterns/ffx
	url = git@gitlab.com:EvelynTSMG/imhex-ffx-pats.git
